<div class="container">
  <h1>コメント編集</h1>
  <br><br>
  <%= form_with model: @comment ,url: post_comment_path(@comment.id),method: :patch do |f| %>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-2">
        <h3>コメント</h3>
      </div>
      <div class="col-1"></div>
      <div class="col-6 d-flex align-items-center">
        <%= f.text_field :comment_content %>
      </div>
    </div>
    <br><br>

    <div class="row">
      <div class="col-4"></div>
      <div class="col-2">
        <%= link_to "削除",post_comment_path(@comment.id),method: :delete, class: "btn btn-danger","data-confirm" => "本当に削除しますか？" %>
      </div>

      <div class="col-2">
        <%= f.submit "変更を保存" ,class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
  <br><br><br><br><br>

</div>