<div class="container bg-light">
    <br>
    <h1>フォローした会員</h1>
    <br><br>
    <div id ="following">
      <%= render "relationships/following",customers: @customers %>
    </div>
    <br><br><br><br><br>
</div>
