<div class="container bg-light">
  <br><br>
  <div class="row">
    <div class="mx-auto">
      <h1 class="text-primary bg-white rounded-pill p-3 primary">
        <a>　サウナ倶楽部管理者ページ　</a>
      </h1>
    </div>
  </div>

  <br><br><br><br><br>
</div>