<div class="row">
  <div class="col-xl-3 col-1"></div>
  <div class="col-xl-2 col-5">
    フォロー数: <%= customer.followings.count %>
  </div>
  <div class="col-xl0 col0"></div>
  <div class="col-xl-2 col-5">
    フォロワー数: <%= customer.followers.count %>
  </div>
  <div class="col-xl-1 col-3"></div>
</div>