<div class="container text-center bg-light">
  <br><br><br><br><br>
  <h2><strong>本当に退会しますか？</strong></h2>
  <br><br>
  <p>退会すると、会員情報や</p>
  <p>これまでの投稿履歴が閲覧できなくなります。</p>
  <p>退会する場合は、「退会する」をクリックしてください。</p>
  <br><br>
  <div class="row">
    <div class="col-xl-4 col-2"></div>
    <div class="col-xl-2 col-5">
      <%= link_to "退会しない" , mypage_path(current_customer),class: "text-white bg-primary btn" %>
    </div>
    <div class="col-xl-2 col-4">
      <%= link_to "退会する" , withdraw_path(current_customer) ,method: :patch, "data-confirm" => "本当に退会しますか？",class: "btn btn-danger" %>
    </div>
  </div>
  <br><br><br><br><br>
</div>