<div class="container bg-light">
  <br><br>
  <div class="row">
    <div class="mx-auto">
      <%= image_tag 'logo.jpg' %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="mx-auto">
      <h2 class="text-primary"><strong>サウナが好きな人同士で情報共有ができるコミュニティーサイト</strong></h2>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-auto">
      <p>昨今では、「サ活」、「ととのう」、「サウナー」と行った言葉が出来るほど、サウナが流行しています。</p>
      <br>
      <p>・サ活をすることによって基礎代謝が上がり健康的になります。</p>
      <p>・ととのうことによりストレス解消効果が得られます。</p>
      <p>・サウナーが増えることで健康的な日本になると考えます。</p>
      <br>
      <p>流行している中で、私自身も初めはサウナの楽しみ方がわからず、サウナの良さを充分に感じることが出来ませんでした。</p>
      <p>そんな時に、初心者向けのサウナの楽しみ方やサウナ施設等の情報を手軽にユーザー間で共有し合えたら、</p>
      <p>今以上にサウナの魅力が多くの人に広がり、サウナに挑戦する人が増えるのではないかという考えからこのサイト作成に至りました。 </p>
    </div>
  </div>
  <br>
</div>