<div class="container bg-light">
  <div class="row">
    <div class="mx-auto">
      <br><br><br><br><br><br><br>
      <p>ゲストユーザーは閲覧のみ可能です。</p>
      <!--余力があったら実装したい。-->
      <!--<p><%#= link_to "こちら",new_customer_registration_path %>から会員登録してください。</p>-->
      <br><br><br><br><br><br><br>
    </div>
  </div>
</div>