<div class="container">
    <br>
    <div class="row">
      <div class="col">
        <h2> <%= @customer.account_name %>さんとのチャットルーム</h2>
      </div>
    </div>
    <br>

    <div id="chat">
      <%= render "rooms/info_chat", chats: @chats %>
    </div>
</div>
<br><br><br><br><br>

