<div class="container bg-light">
  <br>
  <%= render "posts/post_info", post: @post %>
  <br>
  <div class ="row">
    <h3>
      <span id="comment_counts2">
        <%= @post.comments.count %>
      </span>
      件コメント
    </h3>
  </div>
 <br><br>
 <div id="post_comments">
    <%= render partial: "posts/post_comments" , locals: {comments: @comments} %>
 </div>
  <br><br><br><br><br>

</div>