// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.background {
  background-image: image-url("background.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.text1 {
  position: relative;
  bottom: 45px;
}